.toubu{
	width: 100%;
	height: 32px;
	background: #f7f7f7;
	border-bottom: 1px solid #cccccc;
}
.neikuan{
	width: 1200px;
	height: 32px;
	margin: 0 auto;
}
.youbian{
	width: 453px;
	height: 100%;
	float: right;
	text-align: center;
	line-height: 32px;
	color: #808080;
}
.huanying{
	width: 144px;
	height: 100%;
	float: left;
	margin-right: 20px;
}
.dengluzhuce{
	width: 78px;
	height: 100%;
	float: left;
	margin-right: 14px;
}
.denglu{
	margin-right:6px;
	color: #808080;
}
.shu{
	margin-right:6px;

}
.zhuce{
	color: #808080;
}
.dingdan{
	width: 48px;
	height: 100%;
	line-height: 32px;
	float: left;
	margin-right: 16px;

}
.xiaoxi{
    width: 72px;
	height: 100%;
	line-height: 32px;
	float: left;
	margin-right: 13px;


}
.xiaoxi div{
	width: 16px;
	height: 16px;
	margin-top: 8px;
	margin-right: 4px;
	float: left;
	background: url('../img/VANCL_03.png') no-repeat left center;
}
.xiaoxi span{
	float: left;
}
.weixin{
	width: 40px;
	height: 100%;
	float: left;
}
.weixin div{
	background: url('../img/FAN')
}
.weix{
	width: 18px;
	height: 18px;
	float: right;
	margin-top: 7px;
}
.qq{
	width: 18px;
	height: 18px;
	float: right;
	margin-top: 7px;
}
.sousuo{
	width: 1200px;
	height: 167px;
	/* background: #f7f7f7; */
	margin: 0 auto;
	overflow: hidden;
}
.youbian1{
	width: 100%;
	height: 29px;
	margin-top: 28px; 
	color: #000000;
}
.sousuo1{
	width: 438px;
	height: 29px;
	float: right;
}
.sousuo3{
	width: 309px;
	height: 29px;
    float: left;
    margin-right: 22px;
}
.nei1{
	width: 262px;
	height: 29px;
	border: 1px solid #c9caca;
	float: left;
	padding-left: 5px;
	line-height: 15px;
	box-sizing: border-box;
}
.sou{
	width: 46px;
	height: 27px;
	background: #b71a21;
	float: left;
	border: 1px solid #c9caca;
	border-left: none;
	text-align: center;
	line-height: 29px;
	color: white;
	cursor: pointer;
}
.nei1:focus{
	outline: none;
}
.gouwu{
	width: 107px;
	height: 29px;
	background: #b71a21;
	float: left;
	border: 1px solid red;
	box-sizing: border-box;
	color: white;

}
.gouwu:hover{
	background: white;
	color: black;
}
.gouwu:hover div{
	background: url('../img/vanclsprite.png') no-repeat -153px -29px;
}
.gouwu div{
	width: 26px;
	height: 27px;
	float: left;
	margin-right: 5px;
	background: url('../img/vanclsprite.png') no-repeat -153px 0px;
	/* background-size: 26px; */
}
.gouwu span{
	line-height: 29px;
	float: left;
}
.banna{
	width: 1200px;
	height: 535px;
	margin: 0 auto;
	position: relative;
}
.bannazuo{
	width: 18px;
	height: 53px;
    position: absolute;
    left: 13px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    background: url('../img/focus_lr0918.png') no-repeat -3px -5px;
}
.bannazuo:hover{
    background: url('../img/focus_lr0918.png') no-repeat -3px -66px;
}
.bannayou{
	width: 18px;
	height: 53px;
    position: absolute;
    right: 13px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    background: url('../img/focus_lr0918.png') no-repeat -60px -5px;	
}
.bannayou:hover{
    background: url('../img/focus_lr0918.png') no-repeat -60px -66px;		
}
.yuan{
	width: 112px;
	height: 12px;
	/* float: left; */
	/* background: red; */
	position: absolute;
	bottom: 23px;
	right: 0px;
	left: 0px;
	margin-right: auto;
	margin-left: auto;
}
.yuan44{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	float: left;
	background: #ddd;
	margin-right: 8px;
}
.yuan44:hover{
	background: red;
}
.yuan11{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	float: left;
	background: #ddd;
	margin-right: 8px;
}
.yuan11:hover{
	background: red;
}
.yuan22{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	float: left;
	background: #ddd;
	margin-right: 8px;
}
.yuan22:hover{
	background: red;
}
.yuan33{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	float: left;
	background: #ddd;
	margin-right: 8px;
}
.yuan33:hover{
	background: red;
}
.yuan55{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	float: left;
	background: #ddd;
	margin-right: 8px;
}
.yuan55:hover{
	background: red;
}
.yuan66{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	float: left;
	background: #ddd;
}
.yuan66:hover{
	background: red;
}
.zhongjian1{
	width: 1200px;
	height: 130px;
	background: #ffffff;
	text-align: center;
	margin: 0 auto;
	line-height: 130px;
}
.shangpin{
	width: 1200px;
	height: 4800px;
	margin: 0 auto;
}
.yi img{
	width: 390px;
	height: 600px;
	background: #ffffff;
	margin-right: 15px;
	float: left;
}
img{
	display: block;

}
.er img{
	width: 390px;
	height: 600px;
	background: #ffffff;
	margin-right: 15px;
	float: left;
}
.wode:hover{
	color: #A10000;
}
.wang:hover{
	color: #A10000;
}
.shang{
	width: 1200px;
	height: 33px;
	/* background: yellow; */
}
.shangyou{
	width: 450px;
	height: 33px;
	/* background: red; */
	float: right;
}
.fanke{
	width: 1200px;
	height: 44px;
/* 	background: red; */
}
.dakuang{
    width: 1000px;
	height: 24px;
	/* background: blue; */
	float: right;
	margin-top: 20px;
}
.shouye{
	width: 183px;
	height: 44px;
	float: left;
	margin-right: 15px;
	display: block;
	background: url('../img/YOUPIN_03.png') no-repeat 0px -59px;
	background-size: 152px;
}
.shouye img{
	width: 183px;
	height: 35px;
	margin-top: 20px;
	margin-left: 20px;
	/* margin: 0 auto; */
}
.xiaokuang a{
	display: block;
	width: 98px;
	height: 16px;
	float: left;
	text-align: center;
	margin-top: 8px;
	border-right: 1px solid #888;
	color: #888;
}
.xiaokuang a:hover{
	color: #b81c22;
}
.xiaokuang .zuihou{
	border-right: none;
}
.hanguo{
	width: 1200px;
	height: 111px;
	/* background: red; */
	margin: 0 auto;
	text-align: center;
	line-height: 111px;
}
.da{
	width: 1200px;
	height: 509px;
	background: #fff;
	margin: 0 auto;
}
.zuo{
	width: 590px;
	height: 509px;
/* 	background: blue; */
    float: left;
    margin-right: 17px;
}
.zuoshang{
	width: 590px;
	height: 440px;
	background: black;
}
.zuoxia{
	width: 590px;
	height: 69px;
	/* background: blue; */
	border: 1px solid #e8e7ec;
	box-sizing: border-box;
	border-top: none;
	line-height: 69px;
}
.zuoxia span{
	margin-left: 13px;
}
.yuan1{
	float: right;
	margin-right: 13px;
	color: #a10000;
}
.zhongjian{
	width: 290px;
	height: 509px;
	/* background: red; */
	float: left;
	margin-right: 17px;
}
.zhongshangda{
	width: 290px;
	height: 250px;
	margin-bottom: 15px;
}
.zhongshang{
	width: 290px;
	height: 180px;
	margin-bottom: 10px;
}
.zhongshangxia{
	width: 290px;
	height: 69px;
	border: 1px solid #e8e7ec;
	box-sizing: border-box;
	border-top: none;
	line-height: 69px;
}
.majia{
	margin-left: 12px;	
	float: left;
}
.yuan2{
	float: right;
	margin-right: 13px;
	color: #a10000;
}
.youbian2{
	width: 286px;
	height: 509px;
	/* background: black; */
	float: right;
}
.youtu{
	width: 286px;
	height: 440px;
	/* background: black; */
}
.youxia{
	width: 286px;
	height: 69px;
	/* background: blue; */
	border: 1px solid #e8e7ec;
	box-sizing: border-box;
	border-top: none;
	line-height: 69px;
}
.chenshan{
	margin-left: 13px;
	float: left;
}
.yuan3{
	float: right;
	margin-right: 13px;
	color: #a10000;
}
.jingxuan{
	width: 1200px;
	height: 111px;
	/* background: red; */
	margin: 0 auto;
	text-align: center;
	line-height: 111px;
}
.remen span{
	width: 60px;
	height: 12px;
	float: left;
	margin-right: 13px;
	margin-top: 8px;
}
.miantang{
	width: 48px;
	height: 12px;
	float: left;
	margin-right: 11px;
	margin-top: 8px;
}
.yurong{
	width: 36px;
	height: 12px;
	float: left;
	margin-right: 11px;
	margin-top: 8px;
}
.yangmao{
	width: 48px;
	height: 12px;
	float: left;
	margin-right: 11px;
	margin-top: 8px;
}
.zhineng{
	width: 48px;
	height: 12px;
	float: left;
	margin-right: 11px;
	margin-top: 8px;
}
.huwai{
	width: 36px;
	height: 12px;
	float: left;
	margin-right: 11px;
	margin-top: 8px;
}
.xiuxian{
	width: 36px;
	height: 12px;
	float: left;
	margin-right: 11px;
	margin-top: 8px;
}
.paobu{
	width: 42px;
	height: 12px;
	float: left;
	margin-right: 11px;
	margin-top: 8px;
}
.shouhouda{
	width: 1200px;
	height: 284px;
	/* background: red; */
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #e0e0e1;
	margin-top: 48px;
}
.shouhoushang{
	width: 1112px;
	height: 138px;
	/* background: black; */
	margin-top: 34px;
	/* margin: 0 auto; */
	margin-left: 40px;
}
.shouhouxia{
	width: 1118px;
	height: 57px;
	/* background: black; */
	margin-top: 23px;
	margin-left: 40px;
}
.kefu{
	width: 371px;
	height: 138px;
	/* background: yellow; */
	border-right: 1px solid #e0e0e1;
	float: left;
	box-sizing: border-box;
}
.kefukuang{
	width: 100%;
	height: 55px;
	margin-bottom: 32px;
	position: relative;
}
.kefutu{
	margin: 0 auto;
	float: left;
	position: absolute;
	bottom: 15px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
}
.kefuxia{
	width: 156px;
	height: 32px;
	background: red;
	margin: 0 auto;
	color: white;
	line-height: 32px;
	text-align: center;
}
.tuihuo{
	width: 371px;
	height: 138px;
	background: yellow;
	border-right: 1px solid blue;	
	float: left;
	box-sizing: border-box;
}
.erweima{
	width: 370px;
	height: 138px;
	background: yellow;
	float: left;	
}
.kefutu{
	width: 40px;
	height: 37px;
}
.dingwei{
	width: 75px;
	height: 206px;
	display: block;
	z-index: 9999;
	position: fixed;
	right: 0px;
	bottom: 0px;
}
.bdmiddle{
	width: 371px;
	height: 100%;
	background: white;
	float: left;
	border-right: 1px solid #e0e0e1;
	box-sizing: border-box;

}
.bdright{
	width: 370px;
	height: 100%;
	background: white;
	float: left;
	
}
.tou{
	display: block;
	width: 42px;
	height: 42px;
	margin: 0 auto;
	background: url('../img/touxiang.png') no-repeat center center;
	margin-top: 15px;
}
.zaixian{
	display: block;
	width: 156px;
	height: 32px;
	margin: 0 auto;
	background: #b81c22;
	margin-top: 32px;
	text-align: center;
	line-height: 32px;
	color: white;
}
.qi{
	display: block;
	width: 38px;
	height: 38px;
	background: url('../img/seven.png') no-repeat center center;
	margin: 0 auto;
	margin-top: 20px;
}
.qiwenzi{
	display: block;
	width: 122px;
	height: 38px;
	background: white;
	margin-top: 28px;
	margin-left: 124px;
	text-align: center;
}
.saoma{
	width: 107px;
	height: 106px;
	background: url('../img/2014_8_29_16_39_33_7709.png') no-repeat center center;
	margin: 0 auto;
	background-size: 107px;
}
.saomawenzi{
	width: 127px;
	height: 13px;
	background: white;
	margin-top: 16px;
	margin-left: 129px;
}
.saomawenzi span{
	color: #a10000;
}
.dibuwenzi{
	width: 1118px;
	height: 57px;
	background: #f8f8f8;
	margin-top: 23px;
	margin-left: 0px;
}
.dibuwenzi div{
	width: 179px;
	height: 26px;
	background: #f8f8f8;
	float: left;
	margin-top: 17px;
	border-right: 1px solid #dadadb; 
	text-align: center;
	line-height: 26px;
	color: #323232;
}
.dibuwenzi .zuihou{
	border-right: none;
}
.dibuwenzi .diasan{
	width: 215px;
	height: 26px;
}
.hengtiao{
	width: 1200px;
	height: 26px;
	border-bottom: 1px solid #3e3a39;
	box-sizing: border-box;
	margin: 0 auto;
}
.zuihouwenzi{
	width: 1200px;
	height: 53px;
	background: white;
	margin: 0 auto;
	text-align: center;
	padding-top: 17px;
	box-sizing: border-box;
	color: #3e3a39;
}
.guanggao{
	width: 1200px;
	height: 45px;
	background: white;
	margin: 0 auto;
	margin-top: 33px;
}
.guanggao a{
	display: block;
	height: 45px;
	background: green;
	float: left;

}
.guanggao .gg1{
	width: 112px;
	margin-left: 236px;
	margin-right: 21px;
	background: url('../img/45 (1).png') no-repeat center center;
}
.guanggao .gg2{
	width: 156px;
	margin-right: 24px;
	background: url('../img/45 (2).png') no-repeat center center;
}
.guanggao .gg3{
	width: 87px;
	margin-right: 26px;
	background: url('../img/45 (3).png') no-repeat center center;
}
.guanggao .gg4{
	width: 94px;
	margin-right: 26px;
	background: url('../img/45 (4).png') no-repeat center center;
}
.guanggao .gg5{
	width: 42px;
	margin-right: 20px;
	background: url('../img/45 (5).png') no-repeat center center;
}
.guanggao .gg6{
	width: 120px;
	margin-right: none;
	background: url('../img/45 (6).png') no-repeat center center;
}
.wanle{
	width: 1200px;
	height: 45px;
	background: white;
}
/* .shouhouxia a{
	float: left;
	margin-right: 24px;
	line-height: 57px;
	text-align: center;
	margin-left: 65px;
	margin-top: 64px;

} */
.guanyufanke{
	width: 179px;
	height: 26px;
	float: left;
	border-right: 1px solid #e0e0e1;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 17px;
	line-height: 26px;
	text-align: center;

}
.guanyufanke{

}
.xinshouzhinan{
	width: 179px;
	height: 26px;
	float: left;
	border-right: 1px solid #e0e0e1;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 17px;
	line-height: 26px;
	text-align: center;
}
.diasan{
	width: 179px;
	height: 26px;
	float: left;
	border-right: 1px solid #e0e0e1;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 17px;
	line-height: 26px;
	text-align: center;
}
.zhifufangshi{
	width: 179px;
	height: 26px;
	float: left;
	border-right: 1px solid #e0e0e1;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 17px;
	line-height: 26px;
	text-align: center;
}
.shouhoufuwu{
	width: 179px;
	height: 26px;
	float: left;
	border-right: 1px solid #e0e0e1;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 17px;
	line-height: 26px;
	text-align: center;
}
.bangzhuzhongxin{
	width: 179px;
	height: 26px;
	float: left;
/* 	border-right: 1px solid red;
	box-sizing: border-box; */
	/* margin: 0 auto; */
	margin-top: 17px;
	line-height: 26px;
	text-align: center;
}